@model Project_Builder_Development.Models.IdeaFormViewModel

@{
    ViewBag.Title = "AddIdea";
}

<h2>Create your own Idea - @Model.Owner</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })   

    <div class="form-group">
        <span class="control-label col-md-2"><strong>Please choose Category: </strong></span>
        <div class="col-md-10"> 
            @Html.DropDownList("CategoryId", Model.CategoryList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryList, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InvestmentGoal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InvestmentGoal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InvestmentGoal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PartnersRequired, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PartnersRequired, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PartnersRequired, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2"><strong>Please choose the Skills you looking for the Patners in your Project: </strong></span> <br />
        <div class="col-md-10">
            @foreach (var items in Model.SkillList)
            {
                <p>
                    <input type="checkbox" name="PatSkillIds" value="@items.Value" />
                    @items.Text
                </p>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VolunteersRequired, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.VolunteersRequired, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VolunteersRequired, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2"><strong>Please choose the Skills you looking for the Volunteers in your Project: </strong></span> <br />
        <div class="col-md-10">
            @foreach (var items in Model.SkillList)
            {
                <p>
                    <input type="checkbox" name="VolSkillIds" value="@items.Value" />
                    @items.Text
                </p>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
