@model Project_Builder_Development.Models.IdeaBaseViewModel

@{
    ViewBag.Title = "IdeaDetails";
    bool check = false;
}
<br />
<mark>Check Null! - (Skills)</mark><br />
<mark>Leave more space in the reply on the reply</mark><br />
<mark>Add the username in the Reply section!</mark>
<br />
<div class="">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="title" style="text-align: center">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>

    <div class="shortDesc" style="text-align: center">
        @if (Model.Owner == User.Identity.Name)
        {
            <h4>@Html.ActionLink("Work Place", "../Workplace/Index", new { id = Model.IdeaId })</h4>
            check = true;
        }
        @foreach (var item in Model.Users)
        {
            if (item.Name == User.Identity.Name && check == false)
            {
                <h4>@Html.ActionLink("Work Place", "../Workplace/Index", new { id = Model.IdeaId })</h4>
                check = true;
            }
        }

    </div>
    <div class="row col-md-12">
        <div class="col-md-8" style="background-color:#333; text-align:center; height:400px;">
            <h1 style="color: white;">Image</h1>
        </div>
        <div class="col-md-4" style="padding-left:30px;">
            <div>
                <h3 class="text-info" style="text-align:center">Idea Information</h3>
                <hr />
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Category</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6">@Html.DisplayFor(model => model.Category.Name)</h5>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Created by</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6">@Html.DisplayFor(model => model.Owner)</h5>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Funding Goal</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6"><span>CA$ </span>@Html.DisplayFor(model => model.InvestmentGoal)</h5>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-info" style="text-align:center">Requirements</h3>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:center;">
                    Partner
                </div>
                <div class="col-md-3" style="text-align:center;">
                    @Html.DisplayFor(model => model.PartnersRequired)
                </div>
                <div class="col-md-6" style="text-align:center;">
                    @foreach (var items in @Model.Skills)
                    {
                        if(items.Patner == true) { 
                            <span>@items.Name</span>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:center;">
                    Volunteer
                </div>
                <div class="col-md-3" style="text-align:center;">
                    @Html.DisplayFor(model => model.VolunteersRequired)
                </div>
                <div class="col-md-6" style="text-align:center;">
                    @foreach (var items in @Model.Skills)
                    {
                        if(items.Volunteer == true) { 
                            <span>@items.Name</span>
                        }
                    }
                </div>
            </div>
            <div class="row" style="padding-left:0; padding-right:0; margin-top:15px">
                @if (Model.Owner != User.Identity.Name)
                {
                    <button class="btn btn-default col-md-12" style="background-color:#333; color:#ffffff" onclick="location.href='@Url.Action("AddRequest", "Idea", new { id = Model.IdeaId })'">Send Request</button>
                }
            </div>
            <div class="row">
                <button class="btn btn-default col-md-6" style="background-color:#333; color:#ffffff" onclick="location.href='@Url.Action("Like", "Idea",new { id =Model.IdeaId })'">like @Model.Like</button>
                <button class="btn btn-default col-md-6" style="background-color:#333; color:#ffffff;" onclick="location.href='@Url.Action("DisLike", "Idea",new { id =Model.IdeaId })'">Unlike @Model.Dislike</button>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Description)</h2>
        </div>
        <div class="col-md-4">
            <div>
                <h3 class="text-info" style="text-align:center">Participants</h3>
                <hr />
            </div>
            <div class="col-md-12" style="text-align:center;">
                <div class="row">
                    @if (Model.Users != null)
                    {
                        foreach (var item in Model.Users)
                        {
                            if (item.Patner == true)
                            {
                                <div class="col-md-4">Patners:</div>
                                <div class="col-md-8">@item.Name</div>
                            }
                            if (item.Investor == true)
                            {
                                <div class="col-md-4">Investors:</div>
                                <div class="col-md-8">@item.Name</div>
                            }
                            if (item.Volunteer == true)
                            {
                                <div class="col-md-4">Volunteers:</div>
                                <div class="col-md-8">@item.Name</div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
        <h3 class="text-info">Feedback from People</h3>
        <div class="col-md-12">@Html.ActionLink("Leave Comment", "AddReply", new { id = Model.IdeaId })</div>

        @foreach (var item in Model.Replies)
        {
            <div class="form-row col-md-12">
                <hr />
                <div class="col-md-1">@item.UserName</div>
                <div class="col-md-10">@item.message</div>
                <div class="col-md-1 text-info">@Html.ActionLink("Reply", "AddReplyReply", new { id1 = item.ReplyId, id2 = Model.IdeaId })</div>
            </div>
            foreach (var i in item.ReplyReplies)
            {
                <div class="form-row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="text-primary col-md-11">@i.message</div>
                </div>
            }
         }
    </div>
</div>


