@model Project_Builder_Development.Models.IdeaBaseViewModel

@{
    ViewBag.Title = "IdeaDetails";
}
<div class="">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="title" style="text-align: center">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>

    <div class="shortDesc" style="text-align: center">
        <h4>short descrioption</h4>
    </div>
    <div class="row col-md-12">
        <div class="col-md-8" style="background-color:#333; text-align:center; height:400px;">
            <h1 style="color: white;">Image</h1>
        </div>
        <div class="col-md-4" style="padding-left:30px;">
            <div>
                <h3 class="text-info" style="text-align:center">Idea Information</h3>
                <hr />
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Category</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6">@Html.DisplayFor(model => model.Category.Name)</h5>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Created by</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6">@Html.DisplayFor(model => model.Owner)</h5>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h5 class="col-md-6">Funding Goal</h5>
                    </div>
                    <div>
                        <h5 class="col-md-6"><span>CA$ </span>@Html.DisplayFor(model => model.InvestmentGoal)</h5>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-info" style="text-align:center">Requirements</h3>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:center;">
                    Partner
                </div>
                <div class="col-md-3" style="text-align:center;">
                    @Html.DisplayFor(model => model.PartnersRequired)
                </div>
                <div class="col-md-6" style="text-align:center;">
                    @foreach (var items in @Model.PatSkills)
                    {
                        <span>@items.Name</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:center;">
                    Volunteer
                </div>
                <div class="col-md-3" style="text-align:center;">
                    @Html.DisplayFor(model => model.VolunteersRequired)
                </div>
                <div class="col-md-6" style="text-align:center;">
                    @foreach (var items in @Model.VolSkills)
                    {
                        <span>@items.Name</span>
                    }
                </div>
            </div>
            <div class="row" style="padding-left:0; padding-right:0; margin-top:15px">
                <input type="button" value="Send Request" class="btn btn-default col-md-12"
                       style="max-width:100%; background-color:#333; color:#ffffff;" />
            </div>
            <div class="row">
                <button class="btn btn-default col-md-6" style="background-color:#333; color:#ffffff" onclick="location.href='@Url.Action("Like", "Idea",new { id =Model.IdeaId })'">like @Model.Like</button>
                <button class="btn btn-default col-md-6" style="background-color:#333; color:#ffffff;" onclick="location.href='@Url.Action("DisLike", "Idea",new { id =Model.IdeaId })'">Unlike @Model.Dislike</button>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Description)</h2>
        </div>
        <div class="col-md-4">
            <div>
                <h3 class="text-info" style="text-align:center">Participants</h3>
                <hr />
            </div>
            <div class="col-md-12" style="text-align:center;">
                <div class="row">
                    @if (Model.PatUserNames != null)
                    {
                        foreach (var item in Model.PatUserNames)
                        {
                            <div class="col-md-4">Patners:</div>
                            <div class="col-md-8">@item.Name</div>
                        }
                    }
                </div>
                <div class="row">
                    @if (Model.VolUserNames != null)
                    {
                        foreach (var item in Model.VolUserNames)
                        {
                            <div class="col-md-4">Volunteers: </div>
                            <div class="col-md-8">@item.Name</div>
                        }
                    }
                </div>
                <div class="row">
                    @if (Model.InvestUserNames != null)
                    {
                        foreach (var item in Model.InvestUserNames)
                        {
                            <div class="col-md-4">Investors: </div>
                            <div class="col-md-8">@item.Name</div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
        <h3 class="text-info">Feedback from People</h3>
        <div class="col-md-12">@Html.ActionLink("Leave Comment", "AddReply", new { id = Model.IdeaId })</div>
        @if (Model.Owner != User.Identity.Name)
        {
            <div class="col-md-12">
                @Html.ActionLink("Send Request", "AddRequest", new { id = Model.IdeaId })
            </div>
         }

        @foreach (var item in Model.Replies)
        {
            <div class="form-row col-md-12">
                <hr />
                <div class="col-md-1">@item.UserName</div>
                <div class="col-md-10">@item.message</div>
                <div class="col-md-1 text-info">@Html.ActionLink("Reply", "AddReplyReply", new { id1 = item.ReplyId, id2 = Model.IdeaId })</div>
            </div>
            foreach (var i in item.ReplyReplies)
            {
                <div class="form-row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="text-primary col-md-11">@i.message</div>
                </div>
            }
         }
    </div>
</div>


