@model IEnumerable<Project_Builder_Development.Models.RequestBaseViewModel>

@{
    ViewBag.Title = "RequestsOnIdea";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            For Idea
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @item.Ideas.Title
        </td>

        <td>
            @Html.ActionLink("Details", "Details1", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
