@{
    ViewBag.Title = "Home Page";
    string categorySelected = null;

}

    <div class="category">
        <div class="links">
            <ul>
                @foreach (var items in Model.Categories)
                {
                    <li>
                        <a href="#">@items.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        @* @if (categorySelected == null)
        {
            <br /><br /><br />
            <h4 style="padding-left:120px">Please choose one of the Category above to see the related Ideas! <mark>(Feauture comming soon)</mark></h4>
        }
        else if (categorySelected == "IT")
        {
            <p>I am at IT</p>
        }
        else if (categorySelected == "Business")
        {
            <p>I am at Business</p>
        }
        else if (categorySelected == "Other")
        {
            <p>I am at Others</p>
        }*@
        <table class="table">
            <tr>
                <th>
                    Idea ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    InvestmentGoal
                </th>
                <th>
                    PartnersRequired
                </th>
                <th>
                    VolunteersRequired
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Ideas)
            {
                <tr>
                    <td>
                        @item.IdeaId
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.InvestmentGoal
                    </td>
                    <td>
                        @item.PartnersRequired
                    </td>
                    <td>
                        @item.VolunteersRequired
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "IdeaDetails", new { id = item.IdeaId }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>

        
    </div>
</div>