@model IEnumerable<Project_Builder_Development.Models.SkillBaseViewModel>

@{
    ViewBag.Title = "Skill";
}

<h2>Skill</h2>

<p>
    @Html.ActionLink("Create New", "AddSkill")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SkillId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SkillId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "SkillsDetails", new {  id=item.SkillId  }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
